/* استایل نوار سبز رنگ */
.green-bar {
    -fx-background-color: #4CAF50; /* رنگ سبز */
    -fx-padding: 10px; /* فاصله داخلی */
    -fx-alignment: center; /* تراز محتوا به مرکز */
}

/* استایل متن داخل نوار سبز */
.green-bar-text {
    -fx-text-fill: white; /* رنگ متن سفید */
    -fx-font-size: 20px; /* اندازه فونت */
    -fx-font-family: "Arial";
    -fx-font-weight: bold; /* متن پررنگ */
}

/* استایل کلی برای دکمه‌های منو */
.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white#29bbcf; /* رنگ متن طلایی */
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
    -fx-padding: 5px 10px;
}

/* تغییر رنگ دکمه‌های منو هنگام نگه‌داشتن موس */
.menu-button:hover {
    -fx-background-color: white; /* رنگ پس‌زمینه طلایی */
    -fx-text-fill: black; /* تغییر رنگ متن به سیاه هنگام hover */
}

/* استایل برای گزینه‌های نمایش داده شده */
.options-pane {
    -fx-background-color: rgba(244, 244, 244, 0.9);
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

/* استایل برای دکمه‌های زیرمنو */
.sub-option-button {
    -fx-background-color: transparent;
    -fx-text-fill: #29bbcf; /* رنگ متن طلایی */
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
    -fx-padding: 5px 10px;
    -fx-alignment: CENTER_LEFT;
}

/* تغییر رنگ دکمه‌های زیرمنو هنگام نگه‌داشتن موس */
.sub-option-button:hover {
    -fx-background-color: #29bbcf; /* رنگ پس‌زمینه طلایی */
    -fx-text-fill: black; /* تغییر رنگ متن به سیاه هنگام hover */
}

/* استایل برای نمایش زمان */
.time-label {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-padding: 0 10px;
}

/* تنظیم سایز خانه‌های GridPane */
.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10;
}

/* استایل دکمه‌ها و لیبل‌های داخل GridPane */
.grid-pane .button, .grid-pane .label {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-alignment: CENTER;
    -fx-text-fill: black; /* رنگ متن سیاه */
}

/* تغییر رنگ دکمه‌های داخل GridPane هنگام hover */
.grid-pane .button:hover {
    -fx-background-color: #d3d3d3; /* رنگ پس‌زمینه خاکستری روشن */
    -fx-text-fill: black; /* رنگ متن سیاه */
}

/* شفاف کردن پس‌زمینه‌ی کل ScrollPane */
#scrollPane {
    -fx-background-color: transparent;
}

/* شفاف کردن قسمت viewport (بخش داخلی ScrollPane) */
#scrollPane .viewport {
    -fx-background-color: transparent;
}

/* شفاف کردن محتوای داخلی ScrollPane */
#scrollPane .content {
    -fx-background-color: transparent;
}
.password {
    -fx-border-width: 2px;
    -fx-end-margin: 10px;
    -fx-padding: 10px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}
.text-field1{
    -fx-background-color: #fff;
    -fx-border: linear-gradient(to bottom right,#4A80D0 ,#70A0E0,  #90B0C8);
    -fx-border-width: 1px;
}
.login-btn1{
    -fx-background-color: linear-gradient(to bottom right ,#FFD700, #d3005f );
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.text {
    font-family: 'Yekan', Tahoma, sans-serif;
    font-size: 18px; /* تنظیم اندازه فونت */
    color: red; /* تنظیم رنگ فونت */
    font-weight: bold; /* درشت کردن فونت */
}
.wallet{
    -fx-background-color: linear-gradient(to bottom right ,#FFD700, #d3005f );
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.parallelogram {
    -fx-background-color: #9a9997;  /* رنگ زمینه */
    -fx-shape: "M 0 0 L 100 0 L 100 50 L 3.5 50 Z";  /* متوازی‌الاضلاع با شیب بسیار کم */
}
.parallelogram2 {
    -fx-background-color: linear-gradient(to bottom right , #4d4d4d, #808080 ,#b3b3b3 , #c0c0c0   );
    -fx-shape: "M 0 0 L 100 6 L 100 100 L 0 100 Z"; /* متوازی‌الأضلاع با شیب بالا در هر دو ضلع */
}
.Button{
    -fx-font-family: "B Nazanin";
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: transparrent;
    -fx-background-radius: 15px;
}
.button3 {
    -fx-background-color: transparent;
}

.button3:hover {
    -fx-border-color: #fff;  /* فقط رنگ خط دور */
    -fx-border-radius: 30px;
}
.button4{
    -fx-background-color: transparent;
    -fx-border-color:#4d4d4d ;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}
.button5{
    -fx-text-fill: Black;
    -fx-font-family: "B Nazanin";
    -fx-font-weight: Bold;
    -fx-text-size: 32px;
    -fx-text-alignment: justify;
}
.button6{
    -fx-text-fill: #1E8E73;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-size: 30px;
}
.button6:hover{
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-size: 30px;
}
.button6:pressed{
    -fx-text-fill: #1E8E73;
}
.background-gradientt {
    -fx-background-color: linear-gradient(to bottom right, #1E8E73,  #1fa784);
    /*-fx-transition: all 1s ease-in-out;*/
}
.background-gradientt:hover {
    -fx-text-fill:  #4d4d4d;
    -fx-background-color: linear-gradient(to bottom right,#4A80D0 ,#70A0E0,  #90B0C8);
    -fx-translate-y: -3px;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.background-gradientt:pressed{
    -fx-text-fill:  #fff;
    -fx-background-color: linear-gradient(to bottom right,#4A80D0 ,#70A0E0,  #90B0C8);
    -fx-translate-y: -3px;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.scrol{
    -fx-border-radius: 15px;
    -fx-border-color:  #fff;
    -fx-background-color: transparent;
}
.viewport {
    -fx-background-color: transparent;
}
.panee {
    -fx-background-color: #4d4d4d;
    -fx-shape: "M 0 0 Q 25 150 0 290 Q 25 315 50 290 Q 25 150 50 0 Z";
}
.background-gradientt2 {
    -fx-background-color: linear-gradient(to bottom right, #1E8E73,  #1fa784);
}


.scroll-bar {
    -fx-background-color: transparent; /* پس‌زمینه‌ی شفاف */
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #e0ae1d; /* تیره‌تر و کمی شفاف */
    -fx-background-radius: 10px; /* گرد کردن دسته */
    -fx-pref-width: 6px; /* نازک‌تر */
    -fx-pref-height: 6px;
}


.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #C99200; /* رنگ روشن‌تر هنگام هاور */
}


.scroll-bar:vertical .thumb:pressed,
.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: #C99200; /* تیره‌تر در حالت کلیک */
}

/* استایل کلی برای Accordion */
.accordion {
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

/* استایل عنوان تب‌های Accordion */
.titled-pane > .title {
    -fx-background-color: #E0DECF; /* آبی */
    -fx-border-radius: 15px;
    -fx-border-color: #e0ae1d;
    -fx-text-fill: white; /* متن سفید */
}

/* استایل وقتی موس روی عنوان یک تب می‌رود */
.titled-pane > .title:hover {
    -fx-background-color: #e0ae1d; /* آبی تیره‌تر */
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;

}

/* استایل وقتی یک تب انتخاب شده */
.titled-pane:focused > .title {
    -fx-background-color:#b3b3b3; /* سبز */
    -fx-background-radius: 15px;
}

/* استایل محتوای هر تب */
.titled-pane > .content {
    -fx-background-color: linear-gradient(to bottom right,#4A80D0 ,#70A0E0,  #90B0C8);
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-color: #e0ae1d;
}

/* حذف حاشیه پیش‌فرض هنگام کلیک */
.titled-pane:focused {
    -fx-border-color: transparent;
}
/* فاصله بین تب‌ها - این کار باعث می‌شود که فاصله‌ای بین هر TitledPane ایجاد شود */
.accordion .titled-pane {
    -fx-margin: 10px; /* این کار مستقیماً در JavaFX CSS پشتیبانی نمی‌شود */
}
.mouse{
    -fx-cursor: hand;
}


/* استایل اصلی لیست‌ویو */
.custom-list-view {
    -fx-background-color: transparent;
    -fx-border-radius: 25px;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
    -fx-font-size: 18;
    -fx-padding: 30;
    -fx-margin: 30;
}

/* استایل آیتم‌های لیست */
.custom-list-view .list-cell {
    -fx-background-color: linear-gradient(to bottom right, #1E8E73,  #1fa784);
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
    -fx-font-size: 18;
    -fx-padding: 30;
    -fx-margin: 30;
}

/* افکت هاور روی آیتم */
.custom-list-view .list-cell:hover {
    -fx-background-color: #e0ae1d;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-text-fill:#4d4d4d;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
    -fx-font-size: 18;
    -fx-padding: 30;
    -fx-margin: 30;
}

/* آیتم انتخاب‌شده */
.custom-list-view .list-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
    -fx-font-size: 18;
    -fx-padding: 30;
    -fx-margin: 30;
}
.textfield3{
    -fx-background-color:#fff ;
    -fx-background-radius: 25px;
    -fx-text-fill:#4d4d4d ;
}
.textfield3:hover {
    -fx-background-color: #f7dc84 ;
    -fx-background-radius: 25px;
    -fx-text-fill:#4d4d4d ;
}
.btnn{
    -fx-background-radius: 25px;
    -fx-background-color: linear-gradient(to bottom right,#4A80D0 ,#70A0E0,  #90B0C8);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
}
.login {
    -fx-background-color: linear-gradient(to bottom right, #1E8E73,  #1fa784);
    -fx-border-color:#e0ae1d ;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}
.loginbtn{
    -fx-background-radius: 25px;
    -fx-background-color: linear-gradient(to bottom right,#4A80D0 ,#70A0E0,  #90B0C8);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
}
.loginbtn:hover {
    -fx-background-color: #C99200;
}
.loginbtn:pressed {
    -fx-background-color: #C99200;
    -fx-text-fill:#4d4d4d;
}
.logintext{
    -fx-border-color: #e0ae1d;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}
.loginbtn2{
    -fx-background-radius: 25px;
    -fx-background-color:white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
}
.combo-box2{
    -fx-border-color: #e0ae1d;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-text-fill: black;
    -fx-font-family: "B Nazanin";
    -fx-background-color: transparent;
}
.combo-box2-popup .list-cell:hover {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-background-color: linear-gradient(to bottom right,#4A80D0 ,#70A0E0,  #90B0C8);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
}
.combo-box2-popup .list-view {
    -fx-background-color: transparent;
    -fx-border-color: #e0ae1d;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
}
.combo-box3{
    -fx-border-color: #e0ae1d;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-text-fill: black;
    -fx-font-family: "B Nazanin";
    -fx-background-color:#e0ae1d ;
}
.combo-box3-popup .list-cell:hover {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-background-color: linear-gradient(to bottom right,#4A80D0 ,#70A0E0,  #90B0C8);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
}
.combo-box3-popup .list-view {
    -fx-background-color: transparent;
    -fx-border-color: #e0ae1d;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
}
/* استایل برای خود اسلایدر */
.slider .thumb {
    -fx-background-color: #e0ae1d; /* رنگ نشانگر */
    -fx-background-radius: 50%; /* گرد کردن نشانگر */
    -fx-pref-width: 10px; /* عرض نشانگر */
    -fx-pref-height: 10px; /* ارتفاع نشانگر */
    -fx-border-color: #c0c0c0; /* حاشیه نشانگر */
    -fx-border-width: 2px; /* ضخامت حاشیه */
}
.text-area{
    -fx-border-radius : 25px;
    -fx-background-radius: 25px;
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-font-weight: bold;
    -fx-font-family: "B Nazanin";
}









